h1{
	font-family: arial
}
body{
	margin: auto;
	width: 1000px;
	padding: 10px;
}

.hidden{
	display: none;
}

.shown{
	display: block;
}

.switch-btn{
	margin-top: 20px;
}
.login-heading{
	margin-bottom: 20px;
}
.login-btn{
	padding: 10px 20px;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#selectIntCode{
	width: 30%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}
